/* shared common styles of the website  */

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}

.container {
    width: 83%;
    max-width: 1320px;
    margin: 50px auto 120px;
    /* background-color: brown; */
}

.section-title {
    font-family: Merriweather;
    font-style: normal;
    font-weight: 900;
}

.section-subtitle {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.section-info {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.btn-primary {
    border-radius: 8px;
    background: #F00;
    padding: 16px 32px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    transition-duration: 0.5s;
}

.btn-primary:hover {
    background-color: white;
    color: #F00;
}

/* banner related cSS styles */

#banner {
    /*main container of this section*/
    display: block;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/imgs/Banner_Image.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
    max-height: 600px;

}

.banner-title {
    /*Actual content styles*/
    color: #FFF;
    text-align: center;
    font-size: 59px;
    padding: 0px 280px 177px;
    margin: 0px;

}

.banner-subtitle {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 26px;
    font-weight: 400;
    margin: 0px;
    padding: 177px 290px 16px;

}

/* 65% off section related to styles */

#sixty-five-off {
    /*main container of this section*/
    display: block;
    align-items: center;
    justify-content: center;
}

#sixty-five-off img {
    padding: 0px 255px;

}

.sixty-five-off-content h1 {
    /*Actual content styles*/
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 73px;
    font-weight: 700;
    margin-bottom: 48px;
}

.sixty-five-off-content h3 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 35px;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 45px;

}

/* midnight-party section with join now button related styles */

#midnight-party {
    /*main container of this section*/
    border-radius: 16px;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),
        url('../images/imgs/Vectorrr.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.midnight-party-content {
    /*Child container of this section*/
    padding: 126px 0px 140px 126px;
}

.midnight-party-2024 {
    margin: 68px 98px 67px 0px;
}

.midnight-title {
    /*Actual content styles*/
    color: #FFF;
    font-size: 50px;
    line-height: 72px;
    letter-spacing: 7.09px;
    margin-bottom: 24px;

}

.midnight-info {
    color: rgba(255, 255, 255, 0.80);
}

.midnight-party-content button {
    background: transparent;
    padding: 0px;
    border: 0px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    margin: 48px 0px 0px 32px;
    cursor: pointer;
}

.midnight-party-content button:hover {
    background-color: rgb(179, 13, 13);
    /*tried something different outside the instruction*/
    font-size: 21px;
    color: white;
}

/* Gift-portfolio related styles starts here. */

.gift-info {
    width: 78%;
    max-width: 742px;
}

.gift-info h4 {
    text-align: left;
    margin-bottom: 16px;
}

.gift-title {
    color: #070211;
    font-size: 40px;
    line-height: normal;
    margin-bottom: 20px;
}

.gift-items {
    margin-top: 45px;
    background-color: lightgray 0px -35.755px / 100% 142.115% no-repeat;
}

.item-group1,
.item-group2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 23px;
}


.fancy-item1,
.fancy-item2 {
    border-radius: 16px;
    margin-right: 23px;

}

.fancy-item3 {
    border-radius: 16px;
}

.item1,
.item2,
.item3,
.item4,
.item5,
.item6 {
    max-width: 350px;
    max-height: 370px;
    cursor: zoom-in;
    transition: transform 0.4s;
}

.item1:hover,
.item2:hover,
.item3:hover,
.item4:hover,
.item5:hover,
.item6:hover {
    transform: scale(1.15);
}

/* styles related to Subscribe-newsletter section starts here. */

#subscribe-newsletter {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    display: block;
    align-items: center;
    justify-content: center;
}

.subscribe-logo,
.subscribe-info,
.subscribe-form {
    text-align: center;
}

.sub-logo {
    width: 150px;
    height: 150px;
    margin: 80px auto 0px;
}

.subscribe-info>h1 {
    color: #070211;
    font-size: 48px;
    line-height: normal;
    margin: 40px auto 22px;
}

.subscribe-info>p {
    max-width: 743px;
    color: #070211;
    line-height: 28px;
    margin: 0px auto 40px;
}

.subscribe-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscribe-form button {
    font-weight: 600;
    max-width: 174px;
    max-height: 59px;
    border-radius: 0px 50px 50px 0px;
    border: 0px;
    margin-bottom: 75px;
}

.subscribe-form input[type="email"] {
    max-width: 363px;
    max-height: 59px;
    border: 0px;
    border-radius: 50px 0px 0px 50px;
    background: #FFF;
    margin-bottom: 75px;
}

input[type="email"]:focus {
    background-color: rgb(214, 238, 221);
}

.subscribe-form input[placeholder="user@gmail.com"] {
    color: rgba(7, 2, 17);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    padding: 11px 267px 21px 30px;
}