/* shared common styles of the website  */

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}

.container {
    width: 83%;
    max-width: 1320px;
    margin: 50px auto 0px;
    /* background-color: brown; */
}

.section-title {
    font-family: Merriweather;
    font-style: normal;
    font-weight: 900;
}

.section-subtitle {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.section-info {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.btn-primary {
    border-radius: 8px;
    background: #F00;
    padding: 16px 32px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    
}

/* banner related cSS styles */

#banner {
    display: block;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/imgs/Banner_Image.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    max-height: 600px;

}

.banner-title {
    color: #FFF;
    text-align: center;
    font-size: 59px;
    padding: 0px 280px 177px;
    margin: 0px;

}

.banner-subtitle {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 26px;
    font-weight: 400;
    margin: 0px;
    padding: 177px 290px 16px;

}

/* 65% off section related to styles */

#sixty-five-off {
    display: block;
    align-items: center;
    justify-content: center;
}

#sixty-five-off img {
    padding: 0px 255px;

}

.sixty-five-off-content h1 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 73px;
    font-weight: 700;
    margin-bottom: 48px;
}

.sixty-five-off-content h3 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 35px;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 45px;

}

/* midnight-party section with join now button related styles */
#midnight-party {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* fill: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%); */
    background-image: url('../images/imgs/Vectorrr.png');
    /* background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    max-height: 600px; */

}